body {
  /*font-family: "San Francisco", Helvetica, Arial, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles for the navigation bar */
.navbar {
  background-color: #0b0b0b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0; /* Position the navbar at the top of the viewport */
  left: 0;
  right: 0;
  z-index: 9999; /* Add a high z-index to ensure the navbar stays above other content */
  height: 6%;
  
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 45px;
}

.navbar-item a {
  color: #fff;
  position: relative;
}

.navbar-item a span::before {
content: '';
position: absolute;
bottom: -3px;
left: 0;
width: 100%;
height: 2px;
background-color: #c62828; /* Change this color to maroon or any other desired color */
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.navbar-item a:hover {
text-decoration: none; /* Remove underline on hover */
}

.navbar-item a:hover span::before {
visibility: visible;
transform: scaleX(1);
}

/* Styles for the particle background */
#particles-js {
  height: 100vh;
  background-color: #fcfafa;
  position: relative;
  overflow: hidden;
}



.particle-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #050000;
  z-index: 1;
}

.particle-text h2 {
  font-size: 60px;
  margin-bottom: 10px;
  text-align: center;
}

.particle-text p {
  font-size: 24px;
}

.aboutMe-button {
margin-top: 1rem;
position: absolute;
line-height: 0;
padding: 1.6rem 3rem;
border-radius: 4em;
transition: 0.5s;
color: #fff;
background: #0c0c0c;
box-shadow: 0px 5px 18px rgba(12, 12, 12, 0.6);
top: 100%;
left: 38%;
}

.aboutMe-button.button span{
font-weight: 700;
font-size: 1.7rem;
letter-spacing: 0.1rem;
}

.aboutMe-button .button i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.aboutMe-button .button:hover{
  background: #0b0b0b;
  text-decoration: none;
}

.aboutMe-button.button:hover i{
  transform: translateX(5px);
}

.button {
  color: rgb(248, 247, 247);
  text-decoration: none;
}  

.aboutMe-button .button {
  position: relative;
}

.aboutMe-button .button span::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c62828; /* Change this color to maroon or any other desired color */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.aboutMe-button .button:hover span::before {
  visibility: visible;
  transform: scaleX(1);
}





/* Style for the image circle */
.profile-image {
  position: absolute;
  top: 40%;
  right: 150px;
  transform: translate(0, -50%);
  width: 325px;
  height: 325px;
  border-radius: 50%;
  overflow: hidden;
  filter:drop-shadow(10px 10px 5px grey);
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}  

.corner-image {
  position: absolute;
  top: -5px;
  left: 10px;
}

.corner-image img {
  width: 125px;
  height: 75px;
  object-fit: cover;
}

/* Additional styles for the rest of your website content */
aside {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 200px;
}

main {
  background-color: #222;
  color: #fff;
  padding: 20px;
  margin-left: 200px;
}

section {
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.project {
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* About me page */

.aboutMePage {
background: rgb(27, 26, 26);
color: white;
padding: 10px;
text-align: center;
font-size: 135%;

}

.aboutMeContainer {
display: flex;
align-items: center;
justify-content: center;
margin-top: 100px;
margin-bottom: 100px;
}

.aboutMe-image {
width: 30%;
margin-right: 10px;
position: relative;
}

.aboutMe-image img {
width: 111%;
height:11cm;
object-fit: cover;
border-radius: 50%;
position: absolute;
top: 50%;
left: 45%;
transform: translate(-50%, -50%);
}

.aboutMe-text {
width: 60%;
}

.aboutMe-text h2 {
font-size: 30px;
margin-bottom: 10px;
text-align: center;
transform: translate(-28%, -25%);
}

.aboutMe-text h3 {
font-size: 20px;
color: white;
top: 50%;
left: 50%;
transform: translate(-27%, -60%);
}

.aboutMe-text p {
font-size: 18px;
color: white;
top: 150%;
left: 50%;
text-align: left;
transform: translate(5%, -10%);
}

.aboutMe-text p.email {
color: white;
}

.resumeButton {
margin-top: 1rem;
display: inline-block;
background-color: maroon;
width: 150px;
height: 50px;
border-radius: 5px;
text-align: center;
transform: translate(-165%, -10%);
}

.resumeButton:hover{
border:1px solid rgb(202, 3, 3);
background-color: black;
}

.resumeButton:hover a{
color: rgb(197, 3, 3);
}

.resumeButton a {
color: white;
text-decoration: none;
font-size: 20px;
}

.button-content {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}

.aboutMe-text h2::after {
content: '';
display: block;
width: 100px;
height: 2px;
background-color: maroon;
position: absolute;
bottom: 120px; /* Adjust this value to control the position of the line */
left: 52%;
transform: translateX(-50%);
}


/* Skills and abilities page */

#skills-section {
position: relative;
background-color: #fcfafa;
z-index: 1;
margin-top: -3%;
margin-bottom: 0%;
padding-bottom: 50px;
}


body {
margin: 0;
padding: 0;
background-color: rgb(254, 254, 254); 
position:relative;
}

.heading {
text-align: center;
margin-top: 20px;
font-size:30px;
margin-top: 5%;
position: relative;
}

.heading::after {
content: '';
display: block;
width: 100px;
height: 2px;
background-color: maroon;
position: absolute;
bottom: -10px; /* Adjust this value to control the position of the line */
left: 50%;
transform: translateX(-50%);
}


.blurred-box {
width: 850px;
height: 900px;
background-color: rgba(7, 7, 7, 0.7);
display:grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(5,1fr);
gap: 10px;
padding: 20px;
border-radius: 5%;
margin-top: 3%;
margin-left: 13%;
margin:3% auto;
position: relative;
z-index: 2;
}

.image-box {
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.overlay {
position: absolute;
bottom: 10px;
left: 15px;
width: 100%;
background-color: rgba(253, 252, 252, 0.7);
padding: 10px;
text-align: center;
border-radius: 5%;
width: 140px;
height:140px;
}

.image-title {
color: #070707;
margin: 0;
}

.image-box img {
max-width: 100%;
max-height: 100%;
width: 111%;
height:2cm;
margin-bottom: 5%;
margin-top: 5%;
align-items: center;

}

.overlay:hover{
background-color: rgb(250, 249, 249);
transform: translateX(5px);
box-shadow: #fff;
}

#particles-js2 {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1; /* Set a negative z-index to put it behind the content */
}

/* Education page */

.education{
background-color: rgb(27, 26, 26);
z-index: 1;
padding-bottom: 100px;
}

.educationHeading{
text-align: center;
background-color: rgb(27, 26, 26);
color: white;
transform: translate(0%, 50%);
font-size: 30px;
position:relative;
}

.educationHeading::after {
content: '';
display: block;
width: 100px;
height: 2px;
background-color: maroon;
position: absolute;
bottom: -10px; /* Adjust this value to control the position of the line */
left: 50%;
transform: translateX(-50%);
}

.education .quote {
font-size: 19px;
text-align: center;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
margin-top: 5%;
color: white;
}

.education .box-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
}
.education .box-container .box {
display: flex;
flex-direction: row;
width: 76%;
border-radius: 0.5rem;
box-shadow: 0.2rem 0.5rem 1rem rgba(250, 249, 249, 0.2);
text-align: center;
position: relative;
margin-top: 2rem;
overflow: hidden;
transition: 0.3s;
background: rgb(252, 252, 252);
}
.education .box-container .box:hover {
transform: scale(1.03);
box-shadow: 1rem 0.5rem 1.2rem rgba(254, 254, 254, 0.3);
}
.education .box-container .box .image {
flex: 1 1 20rem;
width: 100%;
}
.education .box-container .box img {
object-fit: cover;
position: relative;
width: 160%;
height: 100%;
}
.education .box-container .box .content {
position: relative;
display: flex;
flex-direction: column;
padding: 1rem;
flex-wrap: wrap;
flex: 1 1 70rem;
}
.education .box-container .box .content h3 {
font-size: 25px;
color: maroon;
padding: 0.5rem 0;
font-weight: 600;
text-align: left;
margin-left: 8rem;
}
.education .box-container .box .content p {
font-size: 1.5rem;
margin-left: 8rem;
text-align: left;
}
.education h4 {
font-size: 2rem;
color: rgb(34, 109, 0);
text-align: left;
margin: 1rem;
margin-left: 8rem;
font-family: "Nunito", sans-serif;
font-weight: 700;
}


/* Projects page */

.projects-section {
background-color: #ffffff;
padding: 50px 0;
}

.projects-heading {
text-align: center;
margin-bottom: 30px;
position: relative;

}

.projects-heading::after {
content: '';
display: block;
width: 100px;
height: 2px;
background-color: maroon;
position: absolute;
bottom: -10px; /* Adjust this value to control the position of the line */
left: 50%;
transform: translateX(-50%);
}

.projects-heading h2 {
font-size: 32px;
}

.project-container {
display: flex;
flex-direction: column;
}

.project-item {
display: flex;
align-items:center;
margin-bottom: 30px;
}

.project-info {
flex: 1;
padding: 20px;
}

.project-info h3 {
font-size: 24px;
margin-bottom: 10px;
margin-left: 20px;
margin-right: 20px;
}

.project-info li{
font-size: 18px;
color: #666666;
margin-left: 20px;
margin-right: 20px;
}

.project-info p {
font-size: 18px;
color: #666666;
margin-left: 20px;
margin-right: 20px;
}

.project-img img {
width: 420px;
height: 300px;
margin: 20px 0;
top: 10%;
bottom: 10%;
right: -5%;
left: -5%;
background: inherit;
border-radius: 3%;  
object-fit:unset;
margin-left: 20px;
margin-right: 20px;

}

.flex-reverse {
flex-direction: row-reverse;

}

/* Contact me page */

.contactMe-section{
background-color: rgb(27, 26, 26);
display:flexbox;
justify-content: center;
align-items: center;
}


.contactMe-container{
margin-top: 5%;
}

.contactMe-heading h2 {
color: rgb(255, 255, 255);
margin-top: 20px; /* Adjust this value as needed */
position: relative; /* Set position to relative */
top: 20px; /* Adjust this value to move the text down */
font-size: 30px;
text-align: center;
}

.contactMe-container{
display: grid;
place-items: center;
height: 100vh;

}

.nameBox{
background-color: #424242;
width: 600px; /* Set the desired width of the box */
height: 30px;
border: 1px solid; /* Set the border color to maroon */
padding: 10px; /* Add some padding to the box */
margin-top: -90px;
}

.nameBox input {
width: 100%; /* Make the input element take up the full width of the parent container */
border: none; /* Remove the default input border */
outline: none; /* Remove the outline when the input is focused */
background-color: transparent; /* Make the background of the input transparent */
color: white; /* Set the text color to maroon */
font-size: 18px;
}

/* Optionally, you can add some styles to the placeholder text */
.nameBox input::placeholder {
color: rgb(255, 255, 255);
opacity: 0.5; /* Set the opacity of the placeholder text */

}

.emailBox{
background-color: #424242;
width: 600px; /* Set the desired width of the box */
height: 30px;
border: 1px solid; /* Set the border color to maroon */
padding: 10px; /* Add some padding to the box */
margin-top:20px;
}
.emailBox input {
width: 100%; /* Make the input element take up the full width of the parent container */
border: none; /* Remove the default input border */
outline: none; /* Remove the outline when the input is focused */
background-color: transparent; /* Make the background of the input transparent */
color: white; /* Set the text color to maroon */
font-size: 18px;
}

.emailBox input::placeholder {
color: rgb(255, 255, 255);
opacity: 0.5; /* Set the opacity of the placeholder text */

}

.subjectBox{
background-color: #424242;
width: 600px; /* Set the desired width of the box */
height: 30px;
border: 1px solid; /* Set the border color to maroon */
padding: 10px; /* Add some padding to the box */
margin-top: 20px;
}
.subjectBox input {
width: 100%; /* Make the input element take up the full width of the parent container */
border: none; /* Remove the default input border */
outline: none; /* Remove the outline when the input is focused */
background-color: transparent; /* Make the background of the input transparent */
color: white; /* Set the text color to maroon */
font-size: 18px;
}

.subjectBox input::placeholder {
color: rgb(255, 255, 255);
opacity: 0.5; /* Set the opacity of the placeholder text */

}

.messageBox{
background-color: #424242;
width: 600px; /* Set the desired width of the box */
height: 100px;
border: 1px solid; /* Set the border color to maroon */
padding: 10px; /* Add some padding to the box */
margin-top: 20px;
}
.messageBox input {
width: 100%; /* Make the input element take up the full width of the parent container */
border: none; /* Remove the default input border */
outline: none; /* Remove the outline when the input is focused */
background-color: transparent; /* Make the background of the input transparent */
color: white; /* Set the text color to maroon */
font-size: 18px;
}

.messageBox input::placeholder {
color: rgb(255, 255, 255);
opacity: 0.5; /* Set the opacity of the placeholder text */

}

/* Submit button */


.button-container {
display: flex;
justify-content: center;
margin-top: 90px;

}

/* Style for the button */
.submitButton button {
background-color: rgb(110, 110, 110);
color: rgb(216, 215, 215);
padding: 10px 50px;
border-radius: 0px;
border: none;
}

.submitButton button:hover {
border: 1px solid black;
color: black;
background-color: white;
}


/* My information icons and text */

.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh; /* Set the height of the container to cover the full viewport height */
}

.contactMe2-section {
background-color: rgb(27, 26, 26);
margin-top: -2%;
display:flex;
justify-content: space-around; /* Add space between the containers */
flex-direction: column; /*To display the icons in vertical order */
height: 400px;
column-gap: 0px;
}

.myInformationContainer {
color: white; /* Set the text color to white */
padding: 20px;
display: flex; /* Use flexbox to arrange the content inside each container */
align-items: center; /* Center the content vertically */
margin-bottom: 5%;
margin-top: -5px;
margin-right: -300px;
position: relative;
}


.heading1 h5{ 
position: relative;
align-items: center;
font-size:25px !important;
top: 80px; /* Adjust the top value to move the text up */
left: 80px; /* Align the text to the left */
}

/* Quick links heading */

.heading2 h5{
position: relative;
align-items: center;
font-size:25px !important;
top:-20px; /* Adjust the top value to move the text up */
left: 0px; /* Align the text to the left */
}

.heading2 h3{
position: relative;
align-items: center;
font-size:25px !important;
top:30px; /* Adjust the top value to move the text up */
left: 0px; /* Align the text to the left */
}

.imageCircle {
width: 100px;
height: 100px;
background-color: rgb(27, 26, 26); /* Set the desired background color for the circle */
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 20px; /* Add some spacing between the circle and the text */
}

.imageCircle1 img {
max-width: 15%;
max-height: 15%;
border-radius: 50%;
transform: translate(-305%, 350%);
}

.imageCircle2 img {
max-width: 15%;
max-height: 15%;
border-radius: 50%;
transform: translate(50%, 140%);
}

.imageCircle3 img {
max-width: 15%;
max-height: 15%;
border-radius: 50%;
transform: translate(50%, 5%);
}




.image-text1 {
text-align: center; /* Align the text to the left side */
margin-left: 10px; /* Add spacing between the image and text */
font-size: 18px;
transform: translate(-214%, 215%);
}

.image-text2 {
text-align: center; /* Align the text to the left side */
margin-left: 10px; /* Add spacing between the image and text */
font-size: 18px;
transform: translate(-127%, 80%);
}

.image-text3 {
text-align: center; /* Align the text to the left side */
margin-left: 10px; /* Add spacing between the image and text */
font-size: 18px;
transform: translate(-135%, -5%);
}

/* Add spacing between the image containers */
.myInformationContainer {
margin-bottom: 20px;
}

/* Vertical maroon line before quick links */

.contactMe2-section::before {
content: "";
position: absolute;
top: 39%;
bottom: 50%;
left: 26%;
width: 2px;
height:3.6%;
background-color: maroon; /* Maroon color for the vertical line */
transform: translate(900%, 1550%);
align-items: center;
}

/* Quick Links design */

/* Quick links block */ 

.quick-links {
position: absolute;
top: 51.5%;
left: 50%;
transform: translate(-50%, 320%);
text-align: center;
color: white;
}


.quick-links h5 {
margin-bottom: 20px; /* Add some spacing between "Quick Links" and the buttons */
margin-top: 510px;
font-size:70%;
}

.quickLinksButtons {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

.quick-links-item {
margin-bottom: 10px; /* Add spacing between the buttons */
}

.quick-links-item a {
text-decoration: none;
color: white;
font-size: 18px;
}



/* Maroon vertical line after quick links*/
.quick-links::before {
content: "";
position: absolute;
top: 75%;
left: 130%;
transform: translateX(-50%);
width: 2px;
height: 33%;
background-color: maroon;
}

.quick-links-item a {
text-decoration: none;
color: white;
font-size: 18px;
background-image: linear-gradient(to right, transparent 0%, transparent 100%);
background-repeat: no-repeat;
background-size: 100% 2px; /* Adjust the height of the underline */
transition: background-size 0.3s;
}

.quick-links-item a:hover {
background-size: 0 2px; /* Reduce the background size to create the maroon underline effect */
color: maroon; /* Change the text color to maroon on hover */
}


/* Jonathan's portfolio section */

.heading3 h5{
position: relative;
font-size:25px !important;
top: -305px; /* Adjust the top value to move the text up */
left: 930px; /* Align the text to the left */
color: white;
}

/* Horizontal Maroon line below contact me */

.heading3 h5::after {
content: '';
position:absolute;
transform: translateX(-510%);
bottom: 60px; /* Adjust the distance between the text and the line */
width: 10%;
height: 2px; /* Adjust the height of the line */
background-color: maroon;
}

.jonathanPortfolio p{
position:relative;
color: white;
float: right; /* Move the paragraph to the right */
font-size: 18px; /* You can adjust the font size as needed */
clear: both; /* Ensure the paragraph stays below the heading */
max-width: 300px; /* Set a maximum width for the paragraph */
margin-top: -320px;
}

.socialButtons {
position: relative;
display: flex;
justify-content: flex-end; /* Align the buttons to the right */
margin-top: -200px; /* Add some spacing between the paragraph and the buttons */
margin-left: 200px;
}

.social-button {
display:grid;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: rgb(27, 26, 26); /* Facebook blue color */
text-decoration: none;
transition: background-color 0.3s ease;
margin-right: 40px;
margin-top: -10px;
}


.social-button img {
width: 50px;
height: 50px;
}

























